@media (min-width: 768px) and (max-width: 1024px) {

    .container-common {
        max-width: 1024px;
        margin: 0 auto;
    }

/* BEM block styles--------------------------------------------------------------------------- */

/* form--- */
    .form {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto auto auto;
        column-gap: 20px;
        row-gap: 15px;
    }

    .form__avatar {
        grid-row: span 1;
    }

    .form__symbol-counter {
        font-size: 10px;
        line-height: calc(17 / 14 * 100%);
    }

    .form__warning-desktop {
        display: none;
    }

    .form__textarea {
        grid-column: span 2;
        padding: 17px 20px;
        font-size: 16px;
        min-height: 50px;
    }

    .form__textarea::placeholder {
        font-size: 14px;
    }

    .form__btn {
        grid-column: span 2;
        padding: 15px 107px;
        font-size: 16px;
        min-height: 50px;
    }

    .form__btn-answer {
        grid-column: span 2;
        padding: 15px 107px;
        font-size: 16px;
        min-height: 50px;
    }

    .form__warning-mobile {
        display: block;
        grid-column: span 2;
        color: #F00;
        text-align: center;
        font-size: 12px;
        font-weight: 400;
        line-height: calc(17 / 14 * 100%);
        opacity: 0;
    }

/* avatar--- */
    .avatar {
        width: 50px;
        height: 50px;
    }

/* time--- */
    .time-comment {
        font-size: 12px;
    }

/* buttons-comment--- */

    .buttons-comment__btn {
        font-size: 16px;
        gap: 15px;
    }

/* aside-------------------------------------------------------------------------------------- */

    .aside {
        width: 25%;
    }

    .aside:not(:last-child) {
        margin-right: 45px;
    }

/* main--------------------------------------------------------------------------------------- */

.main__container {
    margin-right: 15px;
    padding-right: 0;
}

/* main-block--------------------------------------------------------------------------------- */

    .main-block {
        width: 75%;
    }

    .main-block__body-content {
        margin-bottom: 31px;
    }
    

    .main-block__content-row {
        flex-wrap: wrap;
    }

    .main-block__item {
        flex: 1 1 100%;
    }

    .main-block__content-row:not(:last-of-type) {
        display: none;
    }

/* comments----------------------------------------------------------------------------------- */

    .comments__horizontal-line {
        height: 2px;
        margin-bottom: 14px;
    }

    .comments__item:not(:last-child) {
        margin-right: 16px;
    }

    .comment-in__buttons {
        gap: 15px;
    }

    .comments__btn {
        font-size: 14px;
    }

    .comment-in__new-comment {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto 1fr auto;
        column-gap: 30px;
        row-gap: 15px;
    }

    .comment-in__avatar {
        grid-row: span 1;
    }

    .comment-in__text-comment,
    .comment-in__buttons {
        grid-column: span 2;
    }

    .comment-in__signatures {
        display: flex;
        align-items: center;
    }

    .comment-in__text-comment {
        font-size: 16px;
    }

    .comment-in__answer-comment {
        grid-column: 2;
    }

    .comment-answer__avatar {
        grid-row: span 1;
    }

    .comment-answer__signatures {
        flex-wrap: wrap;
    }

    .comment-answer__recipient-name {
        display: none;
        font-size: 14px;
    }

    .comment-answer__recipient-name-mobile {
        display: flex;
        font-size: 14px;
        gap: 15px;
        align-items: center;

        opacity: 0.4;
        font-weight: 400;
        line-height: calc(22 / 18 * 100%);
    }

    .comment-answer__text-comment {
        font-size: 16px;
    }

    .comment-answer__text-comment {
        grid-column: span 2;
        font-size: 16px;
    }

}